<div>
	{% if errors is defined and errors|length > 0 %}
		<div class="alert alert-error">
			<strong>入力に問題があります。以下を確認してください</strong>
			<ul>
				{% for error in errors %}
					<li>{{ error }}</li>
				{% endfor %}
			</ul>
		</div>
	{% endif %}
</div>
